{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="section1">
         <img class="dough" src="img/dough.jpg" alt="">
        <a href="patisseries.php" class="co">Commander</a>
    </section>
    <section class="section2">
        <h1 class="hr"> Nos offres </h1>
    </section>
  
  <div class="carousel">
  <ul class="carousel__list">
    <li class="carousel__item" data-pos="-2">
      <p class="textcar1">Exemple 1: ndjhfuliezg</p>
    </li>
    <li class="carousel__item" data-pos="-1">
    <p class="textcar2">Exemple 2: ndjhfuliezg</p>
    </li>
    <li class="carousel__item" data-pos="0">
    <p class="textcar3">Exemple 3: ndjhfuliezg</p>
    </li>
    <li class="carousel__item" data-pos="1">
    <p class="textcar4">Exemple 4: ndjhfuliezg</p>
    </li>
    <li class="carousel__item" data-pos="2">
    <p class="textcar5">Exemple 5: ndjhfuliezg</p>
    </li>
  </ul>
    </div>
    
    
      <h1 class="titavis">Vue sur nos avis</h1>
      <section class="sectioninsta">
        <span class="avis12">
      <div class="avis1">
        <img class="imgavis1" src="img/avis1.jpg" alt="">
        <p>Sample text. Click to select the text box. 
          Click again or double click to start editing the text.</p>
        <p>JASS NORTON,
           GESTIONNAIRE</p>
      </div>
      <div class="avis2">
      <img class="imgavis2" src="img/avis2.jpg" alt="">
        <p>Sample text. Click to select the text box. 
          Click again or double click to start editing the text.</p>
        <p>MARGO PERRY,
           CONCEPTEUR</p>
      </div>
    </span>
    <span class="avis34">
      <div class="avis3">
      <img class="imgavis3" src="img/avis3.jpg" alt="">
        <p>Sample text. Click to select the text box.
           Click again or double click to start editing the text.</p>
        <p>NINA SCAVO,
           CONCEPTEUR</p>
      </div>
      <div class="avis4">
      <img class="imgavis4" src="img/avis4.jpg" alt="">
        <p>Sample text. Click to select the text box.
           Click again or double click to start editing the text.</p>
        <p>NIKA HUDSON,
           CONCEPTEUR</p>
      </div>
    </span>
</section>
{% endblock %}
