body {
    display: block;
    background-color: #f3e8d6;
}
.header {
    position: fixed;
    Z-INDEX: 15;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 17%;
    justify-content: space-between;
    align-items: center;
    background-color: #FBC364;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.mr{
    display: flex;
    margin-top: 3%;
}
.logo0{
    color:#FBC364;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 1%;
}
.logo {
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    margin-top: -1%;
    margin-left: 7%;
}
.recherche {
    width: 667px;
    height: 29px;
    margin-left: 20%;
    border-color: white;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.navbar a:hover{
    color: #E5A037;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.myimg {
    position: relative;
    top: -29px;
    width: 30px;
    margin-left: 85%;
}
.header .hamburger {
    display: none;
}
/* .formulaire {
    margin-left: 38%;
    margin-top: 8%;
    display: flex;
    color: #ffffff;
    border-top: none;
} */
#searchbar{
    position:relative; width:1040px; height:auto;
}
.champ {
    width: 600px;
    height: 35px;
    background: transparent;
    border: none;
    color: white;
    margin-left: -1%;
    margin-top: -14%;
    border: 2px solid white;
}

.logos3 {
    display: flex;
    color: white;
    margin-top: -4.5%;
    margin-left: 90%;
    width: 140px;
}
.person {
    width: 17%;
    margin-right: 20%;
    margin-top: -22%;
    margin-bottom: 2%;
}
.cart{
    width: 25%;
    margin-top: -21%;
}
img:hover {
    
    border-radius: 6px;
    
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}

@media screen and (max-width: 768px) {
    .formulaire{
        display:none
    }
    .logos3 {
        width: 20%;
        margin-left: 714px;
        margin-top: 7%;
        display: grid;
        justify-content: space-between;
    }
    .logo {
        margin-left: 282px;
        margin-top: 2%;
    }
    .header {
        height: 202px;
    }
    .navbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        margin-left: -5%;
        margin-top: 41px;
    }
    .header .navbar {
        position: fixed;
        flex-direction: column;
        box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 10%);
        background-color: #ffffff;
        border-radius: 12px;
        left: 58px;
        right: 0;
        width: 451px;
        align-items: center;
        top: -100%;
        padding-bottom: 41px;
        padding-top: 41px;
        margin-left: 96px;
    }
    .navbar a{
        color:#E5A037;
        margin-left: 0px;
    }
    .header .hamburger {
        display: block;
        margin-left: 444px;
        margin-top: -10px;
        position: absolute;
    }
    .navbar.show {
        top: 162px;
    }
    .myimg {
        width: 30px;
    }
      .recherche{
        display: none;
      }
      .cart {
        width: 20px;
        margin-top: -6%;
        margin-left: -3px;
    }
    .person {
        width: 20px;
        margin-right: 20px;
        margin-top: 0%;
        margin-bottom: 2%;
        margin-left: -2px;
    }
    
}
@media screen and (max-width: 375px) {
    .myimg {
        width: 30px;
    }
}
/* FIN DU HEADER */
/* DEBUT SECTION 1 */
.co {
    position: absolute;
    margin-left: -56%;
    margin-top: 13.5%;
    color: #ffffff;
    text-decoration: none;
    font-size: 212%;
    font-family: 'Architects Daughter', cursive;
}
.co:hover{
    color: #E5A037;
}
.section1 {
    margin-top: 12%;
    margin-left: -1%;
    margin-right: 20%;
    width: 102%;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}
.section1:hover{
    box-shadow: #E5A037 0px 7px 29px 0px;
}
.dough{
    width: 100%;
    height: 483px;
}
@media screen and (max-width: 768px) {
    .section1 {
        margin-top: 30%;
        margin-bottom: 11%;
    }
    .co {
        margin-left: 40%;
        position: absolute;
        margin-top: -32%;
    }
    .dough {
        width: 776px;
        height: 485px;
        margin-left: -1%;
        margin-top: -14%;
    }
}
@media screen and (max-width: 375px) {
    
}
/* FIN SECTION1 */
/* DEBUT SECTION 2 */
.hr {
    text-align: center;
    color: #e5a037;
    margin-bottom: 6%;
    margin-top: 6%;
    font-size: 194%;
    margin-left: 15.5px;
}
.offre{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.triangle {
    width: 141%;
    height: 204px;
    margin-left: 64%;
    margin-top: 40%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.corne {
    width: 90%;
    height: 202px;
    margin-top: 27%;
    margin-left: 4%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.zellige {
    width: 108%;
    height: 201px;
    margin-left: -96%;
    margin-top: 34%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.ptri {
    text-align: center;
    margin-left: 39%;
    margin-right: -131%;
    color: #E5A037;
}
.pcornede{
    text-align: center;
    margin-left: -126%;
    margin-right: -127%;
    color: #E5A037;
}
.pzel{
    text-align: center;
    color: #E5A037;
    margin-left: -186%;
}
.offre1:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
.offre2:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
.offre3:hover{
    filter: hue-rotate(180deg);
    filter: opacity(0.4) drop-shadow(0 0 0 #ffff);
}
@media screen and (max-width: 768px) {
    .hr1 {
        margin-left: 30%;
        margin-right: 30%;
    }
    .triangle {
        margin-left: 13%;
        width: 73%;
        height: 49%;
        margin-top: 22%;
    }
    .ptri {
        margin-left: -134%;
        text-align: center;
    }
    .corne {
        width: 135%;
        height: 49%;
        margin-left: 3%;
        margin-top: 40%;
    }
    .pcornede {
        text-align: center;
        margin-left: 24%;
        margin-right: -19%;
    }
    .zellige {
        margin-left: 29%;
        width: 61%;
        height: 49%;
        margin-top: 18%;
    }
    .pzel {
        text-align: center;
        margin-left: 19%;
    }

}
/* FIN DE LA SECTION 2 */
/* Début SECTION 3 */
.titavis {
    text-align: center;
    color: #e5a037;
    margin-left: 1.5%;
    margin-bottom: 10%;
}
.sectioninsta {
    margin: 0% 15% 0% 18%;
    color: #e5a037;
}
.avis1{
    width: 681px;
    background-color: white;
    margin: 0% 10% 10% 0%;
    padding: 5% 0% 5% 15%;
}
.avis2{
    width: 681px;
    background-color: white;
    margin-bottom: 10%;
    padding: 5% 0% 5% 15%;
}
.avis3{
    width: 681px;
    background-color: white;
    margin: 0% 10% 0% 0%;
    padding: 5% 0% 5% 15%;

}
.avis4{
    width: 681px;
    background-color: white;
    padding: 5% 0% 5% 15%;
}
.avis12{
    display: flex;
}
.avis34{
    display: flex;
}
.imgavis1{
    width: 157px;
    height: 220px;
    margin-top: -6%;
    margin-left: -12%;
    position: absolute;
}
.imgavis2{
    width: 157px;
    height: 220px;
    margin-top: -6%;
    margin-left: -12%;
    position: absolute;
}
.imgavis3{
    width: 157px;
    height: 220px;
    margin-top: -6%;
    margin-left: -12%;
    position: absolute;
}
.imgavis4{
    width: 157px;
    height: 220px;
    margin-top: -6%;
    margin-left: -12%;
    position: absolute;
}
@media screen and (max-width: 768px) {
    .titavis {
        margin-top: 32%;
    }
    .avis1 {
        width: 68%;
        background-color: white;
        margin: 0% 10% 10% 0%;
        padding: 5% 2% 3% 15%;
    }
    .imgavis1 {
        width: 157px;
        height: 220px;
        margin-top: 0.5%;
        margin-left: -22%;
        position: absolute;
    }
    .avis2 {
        background-color: white;
        margin-bottom: 10%;
        padding: 3% 4% 7% 15%;
        margin-left: 18%;
    }
    .imgavis2 {
        width: 157px;
        height: 220px;
        margin-top: 1%;
        margin-left: -22%;
        position: absolute;
    }
    .avis3 {
        width: 68%;
    background-color: white;
    margin: 0% 10% 0% 0%;
        padding: 5% 4% 5% 15%;
    }
    .imgavis3 {
        width: 157px;
        height: 220px;
        margin-left: -22%;
        margin-top: 0.5%;
        position: absolute;
    }
    .avis4 {
        width: 68%;
    background-color: white;
    margin-left: 19%;
        padding: 5% 4% 5% 15%;
    }
    .imgavis4 {
        width: 157px;
        height: 220px;
        margin-left: -22%;
        margin-top: 0.5%;
        position: absolute;
    }
}
/* FIN SECTION 3 */
.polya {
    margin-left: 73.5%;
    margin-top: 19.9%;
    width: 33.5%;
    position: absolute;
}
.polyb {
    margin-top: 20%;
    width: 30%;
    margin-left: -2%;
    position: absolute;
}
/* DEBUT SECTION footer */
.footer {
    width: 314px;
    padding: 107px 40%;
    background-color: #FBC364;
    position: absolute;
    margin-top: 10%;
    margin-left: -1%;
    text-align: center;
}
.logo2 {
    color: #ffffff;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    margin-left: 15%;
}
.souslogo {
    color: #fffffb;
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
    margin-top: -32%;
    margin-left: -15%;
    margin-right: -42%;
}
.logoetsous {
    margin-top: -80px;
    position: absolute;
    margin-left: 3.6%;
}
.copy {
    position: absolute;
    width: 326px;
    padding: 0.5% 39% 0.5% 40%;
    background-color: #ffd387;
    margin-top: 7%;
    margin-left: -40%;
}
.right {
    font-size: 11px;
    color: white;
    margin-left: 0%;
}
.mc2 a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
}
.mc2 a:hover{
    color: #E5A037;
}
.map2 {
    margin-left: -122%;
    margin-top: -34%;
}
.cift2 {
    margin-left: 176%;
    margin-top: -55%;
    display: block;
}
.cift2 a {
    margin-left: 1.5%;
}
.menu2 {
    font-size: 212%;
    margin-bottom: 2%;
    color: #ffffff;
    margin-left: -73%;
}
.contact2 {
    font-size: 212%;
    color: #ffffff;
}
.acceuil2{
    margin-left: 10%;
}
.patisseries2{
    margin-left: 8.5%;
}
.plats2{
    margin-left: 11%;
}
.réservations2{
    margin-left: 7%;
}
.informations2{
    margin-left: 5%;
}
.propos2{
    margin-left: 9%;
}
.insta2{
    position: absolute;
}
.facebook2{
    margin-top: 2%;
    position: absolute;
}
.téléphone2{
    margin-top: 4%;
    position: absolute;
}
.paiement-footer {
    display: flex;
    position: absolute;
    margin-right: 43%;
    margin-top: 5%;
    margin-left: 3%;
    height: 10%;
}
.cbi{
    width: 25%;
    margin-left: -40%;
}
.klarnai{
    width: 35%;
    margin-left: 10%;
}
.masteri{
    width: 26%;
    margin-left: 10%;
}
.visai{
    width: 28%;
    margin-left: 10%;
}
.americani{
    width: 20%;
    margin-left: 10%;
}
.paypali{
    width: 32%;
    margin-left: 10%;
}
.applei{
    width: 30%;
    margin-left: 10%;
}
@media screen and (max-width: 768px) {
    .footer {
        width: 24%;
        padding: 12% 39%;
        background-color: #FBC364;
        margin-top: 10%;
        margin-left: -2%;
        text-align: center;
        position: absolute;
    }

    .copy {
        position: absolute;
        width: 22%;
        padding: 0.5% 39% 0.5% 40%;
        background-color: #ffd387;
        margin-top: 11%;
        margin-left: -40.8%;
    }
    .logo2 {
        color: #ffffff;
        font-family: 'Architects Daughter', cursive;
        font-size: 40px;
        margin-top: -6px;
        margin-left: -39px;
        position: absolute;
    }
    .souslogo {
        color: #fffffb;
        font-family: 'Architects Daughter', cursive;
        font-size: 12px;
        margin-top: 31px;
        position: absolute;
        margin-left: -39px;
        margin-right: -198px;
    }
    .acceuil2 {
        margin-left: 2%;
        margin-top: 8%;
    }
    .menu2 {
        font-size: 212%;
        color: #ffffff;
        margin-left: -1%;
        position: absolute;
        margin-top: -6%;
    }
    .patisseries2 {
        margin-left: -1%;
    }
    .plats2 {
        margin-left: 4%;
    }
    .réservations2 {
        margin-left: -4%;
    }
    .informations2 {
        margin-left: -8.5%;
    }
    .propos2 {
        margin-left: -1%;
    }
    .cift2 {
        margin-left: 292px;
        margin-top: -104.5%;
        font-size: 101%;
        display: block;
    }
    .contact2 {
        font-size: 212%;
        position: absolute;
        color: #ffffff;
        margin-top: 5%;
        margin-left: -1%;
    }
    .téléphone2 {
        position: absolute;
        margin-top: 21%;
        margin-left: 2%;
    }
    
    .facebook2 {
        position: absolute;
        margin-top: 17%;
        margin-left: 2%;
    }
    .insta2 {
        margin-top: 13%;
        position: absolute;
        margin-left: 2%;
    }
    .map2 {
        margin-left: -198px;
        margin-top: -32%;
    }
    .paiement-footer {
        display: flex;
        position: absolute;
        margin-right: 44%;
        margin-top: 8%;
        margin-left: -1%;
        height: 10%;
    }
    .right {
        font-size: 63%;
        color: white;
        margin-left: -3px;
    }
    .logoetsous {
        margin-top: -5%;
        position: absolute;
        margin-left: 38px;
    }
}
/* carrousel */
.carousel {
    display: flex;
    width: 96%;
    height: 6%;
    align-items: center;
    font-family: Arial;
    margin-bottom: 17%;
    margin-left: -1%;
}
.carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 80%;
    margin-left: 11%;
    height: 152px;
    justify-content: center;
    perspective: 300px;
}
.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 278px;
  height: 277px;
  border-radius: 12px;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
}
.carousel__item:nth-child(1) {
  background-image: url(../img/zellige.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 120%;
}
.carousel__item:nth-child(2) {
  /* background: linear-gradient(45deg, #2d35eb 0%, #fdbb2d 100%); */
  background-image: url(../img/chebakkia.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 120%;
}
.carousel__item:nth-child(3) {
  background-image: url(../img/ghliba\(600\).png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 120%;
}
.carousel__item:nth-child(4) {
  background-image: url(../img/gateau_choco.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 120%;
}
.carousel__item:nth-child(5) {
    background-image: url(../img/fekkas\(600\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 120%;
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}
.cheb1 {
    width: 100%;
    height: 64%;
    margin-block-end: auto;
    border-radius: 7%;
    transition: all 0.3s ease-in;
}
.textcar1 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
.textcar2 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
.textcar3 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
.textcar4 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
.textcar5 {
    position: absolute;
    margin-top: 140%;
    color: #E5A037;
}
@media screen and (max-width: 768px) {
    .carousel__list {
        display: flex;
        list-style: none;
        position: relative;
        width: 80%;
        margin-left: 8%;
        height: 152px;
        justify-content: center;
        perspective: 300px;
    }
}
@media screen and (max-width: 375px){
    .logo {
        margin-left: 62px;
        margin-top: 2%;
    }
    .header .hamburger {
        margin-left: 231px;
        margin-top: -12px;
    }
    .logos3 {
        margin-left: 326px;
    }
  .dough {
    width: 378px;
    height: 301px;
    margin-left: -2%;
    margin-top: 18%;
}
    .co {
        margin-left: 24%;
        position: absolute;
        margin-top: -44%;
    }
    .carousel__item {
        width: 158px;
        height: 158px;
    }
    .carousel__list {
        margin-left: 1%;

    }
    .textcar1 {
        margin-left: 20%;
        margin-top: 150%;
    }
    .textcar2 {
        margin-left: 20%;
        margin-top: 150%;
    }
    .textcar3 {
        margin-left: 20%;
        margin-top: 150%;
    }
    .textcar4 {
        margin-left: 20%;
        margin-top: 150%;
    }
    .textcar5 {
        margin-left: 20%;
        margin-top: 150%;
    }
    .hr {
    margin-top: 25%;
    margin-right: 10px;
    }
    .titavis {
        margin-left: 0%;
    }
    .header .navbar {
        width: 287px;
        padding: 41px 44px;
        margin-left: 0px;
        left:0%;
    }
    .navbar{
        margin-top: 39px;
    }
    /* Avis */
    .avis12 {
        display: flex;
        flex-direction: column;
    }
    .avis34 {
        display: flex;
        flex-direction: column;
    }
    .avis1 {
        width: 70%;
        background-color: white;
        margin: 40% 8% 40% 31.5%;
        padding: 5% 2% 3% 15%;
    }.imgavis1 {
        width: 157px;
        height: 174px;
        margin-top: -3%;
        margin-left: -45%;
        position: absolute;
    }
    .avis2 {
        background-color: white;
        margin-bottom: 40%;
        padding: 3% 2% 6% 15%;
        margin-left: 34%;
    }
    .imgavis2 {
        width: 157px;
        height: 195px;
        margin-top: -2%;
        margin-left: -46.5%;
        position: absolute;
    }
    .avis3 {
        background-color: white;
        margin-bottom: 40%;
        padding: 3% 2% 6% 15%;
        margin-left: 34%;
    }
    .imgavis3 {
        width: 157px;
        height: 195px;
        margin-top: -2%;
        margin-left: -46.5%;
        position: absolute;
    }
    .avis4 {
        background-color: white;
        margin-bottom: 40%;
        padding: 3% 2% 6% 15%;
        margin-left: 34%;
    }
    .imgavis4 {
        width: 157px;
        height: 195px;
        margin-top: -2%;
        margin-left: -46.5%;
        position: absolute;
    }
    /* FOOTER */
    .mc2{
        display: none;
    }
    .logoetsous {
        margin-top: -10%;
        position: absolute;
        margin-left: 0%;
    }
    .paiement-footer {
        display: flex;
        position: absolute;
        margin-right: 33%;
        margin-top: 4%;
        margin-left: -10%;
        height: 15%;
    }
    .right {
        font-size: 63%;
        color: white;
        margin-left: -90%;
        margin-right: -79%;
    }
}